Dissertation/acronyms.aux
Dissertation/appendix.aux
Dissertation/conclusion.aux
Dissertation/contents.aux
Dissertation/dictionary.aux
Dissertation/introduction.aux
Dissertation/lists.aux
Dissertation/part1.aux
Dissertation/part2.aux
Dissertation/part3.aux
Dissertation/references.aux
Dissertation/title.aux
dissertation.aux
dissertation.bbl
dissertation.bcf
dissertation.blg
dissertation.fdb_latexmk
dissertation.fls
dissertation.ilg
dissertation.lof
dissertation.log
dissertation.lot
dissertation.nlo
dissertation.nls
dissertation.out
dissertation.pdf
dissertation.run.xml
dissertation.synctex.gz
dissertation.toc
synopsis.bcf
synopsis.pdf
synopsis.run.xml
synopsis.synctex.gz
synopsis.aux
synopsis.bbl
synopsis.blg
synopsis.fdb_latexmk
synopsis.fls
synopsis.log
synopsis.out
presentation.bcf
presentation.pdf
presentation.run.xml
presentation.synctex.gz
presentation.aux
presentation.bbl
presentation.blg
presentation.fdb_latexmk
presentation.fls
presentation.log
presentation.nav
presentation.out
presentation.snm
presentation.toc
presentation_booklet.aux
presentation_booklet.log
.DS_Store